/*首页css*/
@font-face { 
font-family: CA Sans Regular;/*/×定义font的名字×/ */
src: url('CA Sans-Regular.otf');/*把下载的字体文件引入进来×/ */
}
body {
    margin: 0;
    padding: 0;
    font-family: 'CA Sans Regular';
}
#phone_container {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
#weixin_container {
    width: 100%;
   /* height: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: absolute;*/
    overflow: hidden;
}
#download_container {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    /*position: absolute;*/
    overflow: hidden;
}
.phone_banner,.weixin_banner {
    width: 100%;
    height: 320px;
    background-image: url('image/banner.png');
    background-size: cover;
}
.phone_banner_container {
    padding: 40px;
}
.weixin_banner_container {
    padding: 60px 30px;
}
.banner_word{
    color: #333;
    font-size: 34px;
    width: 100%;
    display: inline-block;
    line-height: 45px;
}
.weixin_word_1 {
    color: #333;
    font-size: 34px;
    width: 100%;
    display: inline-block;
    line-height: 34px;
    margin-bottom: 30px;
}
.weixin_word {
    color: #333;
    font-size: 24px;
    width: 100%;
    display: inline-block;
    line-height: 35px;
}
.banner_bottom {
    margin-top: 30px;
}
.banner_bottom_tip {
    width: 50%;
    color: #666;
    font-size: 22px;
    margin-left: 10px;
    display: inline-block;
    float: left;
}
.banner_pic{
	float: left;
}
.phone_body {
    width: 688px;
    height: 648px;
    margin: 60px 30px 0 30px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #ebebeb;
}
.body_list {
    margin: 20px 0px;
    height: 126px;
    border-bottom: 1px solid #dcdcdc;
    background-image: url('image/phone_index/banner_list.png');
    background-size: cover;
    padding: 0 30px;
}
.list_name {
    margin-top: 14px;
    position: absolute;
    margin-left: 14px;
    font-size: 30px;
    color: #333;
}
.listname {
    position: absolute;
    margin-left: 210px;
    color: #333;
    font-size: 30px;
    margin-top: 43px;
}
.listimg {
    position: absolute;
    right: 60px;
    margin-top: 25px;
}
.phone_bottom {
    width: 100%;
    text-align: center;
    margin: 40px 0;
    background-color: #f5f5f5;
    color: #999999;
    font-size: 24px;
}
.download_body{
	width: 688px;
    height: 648px;
    margin: 70px 30px 0 30px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background-color: #ebebeb;
}
.weixin_code_body {
    margin-top: 80px;
    text-align: center;
    color: #666666;
    font-size: 24px;
    overflow: hidden;
    padding-bottom: 180px;
}
.weixin_code_tip {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-family: 'AdobeSongStd-Light,CASans';
    text-align: center;
     color: #666666;
    font-size: 24px;
}
.weixin_code {
    padding: 100000px;
    margin: -100000px;
    /*    margin-left: 29%;
    margin-top: 80px;*/
}
title {
    color: #fff;
    font-size: 34px;
}
span.special_tip {
    color: #666666;
    font-size: 8px;
    margin-top: 28px;
    width: 30px;
    height: 22px;
    display: inline-block;
    margin-left: -100px;
}
.pic_container {
    background-color: #f5f5f5;
    overflow: hidden;
    /*padding: 1000px;
    margin: -1000px;*/
}
.download_title {
    width: 300px;
    padding: 30px 30px 20px 30px;
    display: inline-block;
    color: #333;
    font-size: 34px;
    font-family: 'AdobeSongStd-Light';
}
.download_list {
    margin: 0 30px;
}
span.title_list {
    font-size: 28px;
    margin-bottom: 10px;
    color: #123e33;
    width: 100%;
    display: inline-block;
    font-family: 'Adobe 宋体 Std';
} 
.content_words {
    padding: 38px 40px;
    width: 50%;
    display: inline-block;
    color: #fff;
    font-size: 28px;
    font-family: 'AdobeSongStd-Light';
}
.content_list_1 {
    background-image: url('image/phone_index/background_1.png');
    background-size: cover;
    height: 284px;
    margin: 0;
    padding: 0;
}
.download_link {
    margin-top: 10px;
    font-size: 28px;
    color: #666;
    width: 200px;
    display: inline-block;
    margin-bottom: 40px;
}
.content_list_2 {
    background-image: url('image/phone_index/background_2.png');
    background-size: cover;
    height: 284px;
    margin: 0;
    padding: 0;
}
.content_list_3 {
    background-image: url('image/phone_index/background_3.png');
    background-size: cover;
    height: 284px;
    margin: 0;
    padding: 0;
}
img.view {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}