/*@author hetutu
	create at 2016.09.02*/
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Microsoft YaHei", "WhitneyMedium", sans-serif;
    background-color: #f5f5f5;
}

div, li, ul {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.clear {
    clear: both;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    font-weight: lighter;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-weight: lighter;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
    font-weight: lighter;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
    font-weight: lighter;
}

@media screen and(min-width: 750px) {
    html, body {
        width: 750px;
        margin: 0 auto;
    }
}

.navbar {
    border: none;
    margin-bottom: 39px;
    background-color: #e2e2e2;
    height: 128px;
    background-image: url('image/Top@2x.png');
}

.navbar-header {
    float: left;
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
    line-height: 128px;
}

.navbar-title {
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
    line-height: 128px;
    padding: 10px 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 60px 0;
}
.title{
    font-size: 28px;
}
#reg_form {
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

#reg_form input, #reg_form select {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
    padding-left: 20px;
    height: 60px;
    border: 1px solid #dcdcdc;
    color: #333;
    outline: none;
    box-sizing: border-box;
    font-weight: lighter;
    font-family: 'Microsoft Yahei', "WhitneyMedium", Arial, sans-serif;
}

#reg_submit {
    display: block;
    width: 320px;
    height: 60px;
    background-color: #164460;
    opacity: 0.8;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 30px;
    border-radius: 10px;
    margin: 40px auto 100px auto;
    font-weight: lighter;
    cursor: pointer;
}

#reg_submit:focus, #reg_submit:active, #reg_submit:hover {
    opacity: 1;
}

.dropdown {
    position: relative;
}

.dropdown ul, #reg_form .dropdown input {
    display: none;
}

.dropdown button {
    font-family: 'Microsoft Yahei', "WhitneyMedium", Arial, sans-serif;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    background-color: #fff;
    width: 100%;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 0;
    height: 60px;
    border: 1px solid #dcdcdc;
    color: #999;
    box-sizing: border-box;
    font-weight: lighter;
    outline: none;
    cursor: pointer;
}

.caret {
    background: url('image/Down@2x.png') no-repeat center center;
    display: inline-block;
    float: right;
    margin-right: 20px;
    width: 22px;
    height: 24px;
}

.form-select {
    width: 100%;
    position: absolute;
    top: 60px;
    border: 1px solid #dcdcdc;
    border-top: none;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    z-index: 2;
    background: #fff;
    font-weight: lighter;
}

.select_province {
    height: 240px;
    overflow-y: scroll;
    border-left: none;
    background-image: url('image/BG@2x.png');
}

.select_province li {
    font-size: 24px;
    line-height: 24px;
    color: #333;
    opacity: 0.8;
    height: 40px;
    padding: 8px 20px;
    cursor: pointer;
    border: 1px solid transparent;
}

.select_province li.active, .select_province li:active, .select_province li:focus {
    border: 1px solid #c9c9c9;
    opacity: 1;
}

.select_type {

}

.select_type li {
    cursor: pointer;
    color: #333;
    font-size: 24px;
    line-height: 24px;
    height: 40px;
    padding: 8px 20px;
}

.select_type li.active, .select_type li:active, .select_type li:focus {
    color: #fff;
    background-color: #164460;
    opacity: 0.8;
}

.err_msg {
    padding-left: 20px;
    background-color: #164460;
    font-size: 18px;
}

.welcome-block {
    width: 612px;
    height: 689px;
    background: url('image/2@2x.png');
    margin: 0 auto;
    text-align: left;
    margin-bottom: 200px;
    margin-top: 170px;
    padding-top: 234px;
    padding-left: 140px;
}

.welcome-text {
    transform: rotate(-12deg);
}

.welcome-block p {
    font-size: 36px;
    line-height: 36px;
    color: #666;
    margin-bottom: 20px;
}

.welcome-block p img {
    vertical-align: top;
}
